node_modules
dist
dist-ssr
*.local

# Rust / Tauri
src-tauri/target
src-tauri/gen

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
