@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-user-select: none;
    user-select: none;
  }
  input,
  textarea {
    -webkit-user-select: text;
    user-select: text;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(2, 1, 6, 0.25);
    border-radius: 999px;
  }
}
